@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* Reset de las etiquetas */
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    width: 80%;
    border-radius: 16px;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside{
    height: 100vh;
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position:sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.4rem;
}
.boton-carrito{
    margin-top: 2rem;
}

.numerito{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
.texto-footer{
    color:var(--clr-main-light);
    font-size: 0.85rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.boton-carrito{
    margin-top: 2rem;
}

/* Icono manos */
.boton-categoria > i.bi-hand-index-thumb-fill,
.boton-categoria > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}
.boton-categoria{
    text-transform: uppercase;
}
.boton-menu{
 background-color: transparent;
   border:0;
   color: var(--clr-white);
   font-size: 0.85rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap:1rem;
   font-weight: 600;
   padding: 1rem;
   font-size: 0.85rem;
   width: 100%;
}

.boton-menu.active{
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}


/* Efecto del border entre el aside y la section principal */
.boton-menu.active::before {
    content: '';
    /* position: absolute; */
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    /* position: absolute; */
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

/* PRODUCTOS */
.main-productos{
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2.5rem;
}

.titulo-principal{
    color:var(--clr-main);
    margin-bottom: 1rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border:0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color 0.2s, color 0.2s;
}

.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/* CARRITO */
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.carrito-vacio, .carrito-comprado{
    color: var(--clr-main);
    /* display: none; */
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

/* Boton */
.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

/* Etiquetas ocultadas */
.disabled {
    display: none;
}

